body {
   background-color: rgb(255, 255, 255);
}

.red {
   padding: 50px;
   margin: 20px;
   background-color: rgb(255, 98, 98);
}

.flex {
   display: flex;
   justify-content: center;
}

.red-2 {
   height: 100px;
   width: 240px;
   margin: 20px;
   background-color: rgb(170, 60, 60);
}

.orange {
   padding: 50px;
   margin: 20px;
   background-color: rgb(39, 204, 226);
}

.red-3{
   padding-bottom: 200px;
}

.red-4 {
   padding-bottom: 200px;
   background-color: rgb(160, 9, 9);
}

.red-5{
   padding-right: 200px;
   background-color: rgb(146, 0, 0);
}

.red-6 {
   background-color:rgb(39, 204, 226);
}

.red-7 {
   background-color: #e47aaf;
}